<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonster.imagepicker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true">
        <activity
            android:name=".ui.crop.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.grid.view.ImageDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pager.view.ImagePagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>